Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-tagged-union-member-count,
  -bugprone-inc-dec-in-conditions,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  clang-analyzer-*,
  -clang-analyzer-security.PointerSub,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-use-nodiscard,
  -modernize-return-braced-init-list,
  -modernize-use-default-member-init,
  -modernize-macro-to-enum,
  -modernize-raw-string-literal,
  -modernize-use-std-numbers,
  -modernize-use-integer-sign-comparison,
  performance-*,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  readability-braces-around-statements,
  readability-inconsistent-declaration-parameter-name,
  readability-redundant-*,
  -readability-redundant-inline-specifier,
  -readability-redundant-access-specifiers,

WarningsAsErrors: ''

HeaderFilterRegex: '^.*/jazz/(src|lib|tests)/.*$'
